In [9]:
import pandas as pd
import numpy as np

In [10]:
def unir(bases):
    i = 1
    final = pd.DataFrame()
    while i <= bases:
        j = str(i)
        est = "porc_bots_" + j + ".xlsx"
        df = pd.read_excel(est)
        final = final.append(df)
        print(final.shape[0])
        i += 1
    #final = final.set_index(final["ID"]).drop(["ID"], axis=1).fillna(0)
    return final

In [11]:
bots = unir(12)

701
1264
1645
2345
3046
3228
3290
3991
4682
4890
8178
8223

In [12]:
df = pd.read_csv('exported_audience_2021-06-22_at_15.13.41_UTC.csv') 
df

,name,twitter handle,id,followers,bio,influence score
0,Jorge Hurtado,JorgeaHurtado,280769979,21511,"Periodista, productor audiovisual.🎙️Edward R. ...",46
1,Naidelyn,naidelynisabelm,285710070,4869,NaN,43
2,Lucydalia Baca C.,bacalucydalia,913750657,2877,Periodista. Desde @4to_Mono trato de explicar ...,43
3,cнαναℓα мєѕтιzα ,chavalamestiza,1039743307331633157,8366,📍Nic | +505 🇳🇮 ᴀᴍᴏ ᴇʟ ᴄᴏʟᴏʀ ᴍᴏʀᴀᴅᴏ 😈,39
4,IVÁN PEÑA 🇳🇮,IvannPena,117241634,34109,"Ingeniero Comercial, 39 años. Comunicador de c...",38
...,...,...,...,...,...,...
8217,Javier Orozco,RCyanure,830804458556764161,199,ig: Javier.or20,0
8218,Noel Antonio Miranda,NMirandaPerez,1206583942314373120,100,Soy periodista de Artículo 66 y Noticias En Se...,0
8219,Belencita🤪,fornos_belen3,1252690845402386435,325,N I C A🇳🇮 cuenta nueva.🔥,0
8220,Alexandra Montes,iam___alexandra,1112479999699886080,294,Nicaragüense🇳🇮,0
8221,💜지미 공원💜,JiminaP67021042,1368652992983994371,14,"Sarangheo BTS x siempre 💜💜💜\n💜𝗕𝗧𝗦⟭⟬💜: Get it, ...",0

In [13]:
base_merge = pd.merge(df, bots, how='left', left_on='twitter handle', right_on='Autores')
base_merge

,name,twitter handle,id,followers,bio,influence score,Autores,Valores
0,Jorge Hurtado,JorgeaHurtado,280769979,21511,"Periodista, productor audiovisual.🎙️Edward R. ...",46,JorgeaHurtado,24.0
1,Naidelyn,naidelynisabelm,285710070,4869,NaN,43,naidelynisabelm,0.0
2,Lucydalia Baca C.,bacalucydalia,913750657,2877,Periodista. Desde @4to_Mono trato de explicar ...,43,bacalucydalia,24.0
3,cнαναℓα мєѕтιzα ,chavalamestiza,1039743307331633157,8366,📍Nic | +505 🇳🇮 ᴀᴍᴏ ᴇʟ ᴄᴏʟᴏʀ ᴍᴏʀᴀᴅᴏ 😈,39,chavalamestiza,68.0
4,IVÁN PEÑA 🇳🇮,IvannPena,117241634,34109,"Ingeniero Comercial, 39 años. Comunicador de c...",38,IvannPena,12.0
...,...,...,...,...,...,...,...,...
8218,Javier Orozco,RCyanure,830804458556764161,199,ig: Javier.or20,0,RCyanure,NaN
8219,Noel Antonio Miranda,NMirandaPerez,1206583942314373120,100,Soy periodista de Artículo 66 y Noticias En Se...,0,NMirandaPerez,30.0
8220,Belencita🤪,fornos_belen3,1252690845402386435,325,N I C A🇳🇮 cuenta nueva.🔥,0,fornos_belen3,12.0
8221,Alexandra Montes,iam___alexandra,1112479999699886080,294,Nicaragüense🇳🇮,0,iam___alexandra,6.0
8222,💜지미 공원💜,JiminaP67021042,1368652992983994371,14,"Sarangheo BTS x siempre 💜💜💜\n💜𝗕𝗧𝗦⟭⟬💜: Get it, ...",0,JiminaP67021042,40.0

In [14]:
final = base_merge.drop(columns = ['Autores'])
final

,name,twitter handle,id,followers,bio,influence score,Valores
0,Jorge Hurtado,JorgeaHurtado,280769979,21511,"Periodista, productor audiovisual.🎙️Edward R. ...",46,24.0
1,Naidelyn,naidelynisabelm,285710070,4869,NaN,43,0.0
2,Lucydalia Baca C.,bacalucydalia,913750657,2877,Periodista. Desde @4to_Mono trato de explicar ...,43,24.0
3,cнαναℓα мєѕтιzα ,chavalamestiza,1039743307331633157,8366,📍Nic | +505 🇳🇮 ᴀᴍᴏ ᴇʟ ᴄᴏʟᴏʀ ᴍᴏʀᴀᴅᴏ 😈,39,68.0
4,IVÁN PEÑA 🇳🇮,IvannPena,117241634,34109,"Ingeniero Comercial, 39 años. Comunicador de c...",38,12.0
...,...,...,...,...,...,...,...
8218,Javier Orozco,RCyanure,830804458556764161,199,ig: Javier.or20,0,NaN
8219,Noel Antonio Miranda,NMirandaPerez,1206583942314373120,100,Soy periodista de Artículo 66 y Noticias En Se...,0,30.0
8220,Belencita🤪,fornos_belen3,1252690845402386435,325,N I C A🇳🇮 cuenta nueva.🔥,0,12.0
8221,Alexandra Montes,iam___alexandra,1112479999699886080,294,Nicaragüense🇳🇮,0,6.0
8222,💜지미 공원💜,JiminaP67021042,1368652992983994371,14,"Sarangheo BTS x siempre 💜💜💜\n💜𝗕𝗧𝗦⟭⟬💜: Get it, ...",0,40.0

In [15]:
final.to_excel('bots_base_entera.xlsx')